@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$cor_verde : #72bb53;
$cor_preta : #444444;

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .pg-header{

        .primeira {
            background-color: $cor_verde;
            .col-md-1 {
                margin-top: 8px;
            }
            .col-md-8 {
                font-family: Lato;
                color: $cor_preta;
                h3 {
                    margin-top: 1px;
                    padding: 3px 5px;
                }
            }

            .col-md-3 {
                .nav {
                    .nav-link {
                        text-align: center;
                        color: $cor_preta;

                    }

                    .login {
                        padding: 10px;
                    }

                    .cadastro {
                        padding: 10px;
                    }

                }
            }
        }

        .segunda {
            background-color: $cor_preta;
            .col-md-9 {
                .nav {
                    .nav-link {
                        font-size: 12px;
                        text-align: center;
                        color: $cor_verde;

                    }
                }
            }
        }
    }

    .pg-login {

        .primeira {

            .box-1 {
                
                .img-fluid {
                    margin-top: 70px;    
                }
            }

            .box-2 {
                margin-top: 100px;

                .card {

                    .card-header {
                        background-color: $cor_preta;
                        color: $cor_verde;
                        font-family: Lato;

                    }

                    .card-body {
                        background-color: $cor_preta;
                        color: $cor_verde;
                        font-family: Lato;
                        
                        .input-group {
                            border: 1px solid $cor_preta;
                            border-radius: 6px 6px 6px 6px;

                            .input-group-prepend {

                                .input-group-text {
                                    color: $cor_preta;
                                    background-color: $cor_verde;
                                }
                            }
                        }

                        .btn-entrar {
                            background-color: $cor_verde;
                        }
                    }
                }
            }
        }
    }
    
    .container.pg-cadastro {
        .row {
            .col-md-8 {

                .card.formulario-cadastro {
                    background-color: $cor_preta;
                    color: $cor_verde;
                    font-family: Roboto;
                    margin: 20px 0px 20px 0px;

                    .btn-entrar {
                        background-color: $cor_verde;
                        border: 1px solid $cor_verde;
                        border-radius: 5px 5px 5px 5px;
                    }

                    .input-group-text {
                        background-color: $cor_verde;
                    }

                    .btn-cadastrar {
                        background-color: $cor_verde;
                    }

                    .btn-limpar {
                        background-color: $cor_verde;
                    }
                }
            }
        }
    }
    
    .pg-inicio {
        
        .row {
            .col-md-6 {
                text-align: justify; 
                font-size: 20px;
                p {
                   text-align: justify; 
                }
                .fonte {
                    
                }
                
            }
        }
    }
}


footer {
    margin-top: auto;

    .rodape {
        background-color: $cor_preta;
        color: $cor_verde;

        .texto_rodape{
            margin-top: 5px;
            font-size: 12px;
            text-align: right;
        }
    }
}
